.img {
    max-height: 100px;
}

.imageContainer {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    height: 100%;
}

.btnContainer {
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
    height: 100%;
}
